*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
    width: 140px;
    height: 60px;
    margin-bottom: 10px;
}

#agreements{
    text-align: center;
}

#agreements{
    background-color: rgb(199, 195, 195);
    height: 200px;
    font-size:12px;
}

#conditions{
    font-size: 14px;
}